html {
    height: 100%;
    width: 100%;
}

hr {
    width: 00%;
}

body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    height: inherit;
    width: inherit;
}

h1 {
    font-family: 'Grand Hotel', cursive;
    /*font-family: 'Butterfly Kids', cursive;*/
    font-size: 80px;
}

.lng-btn-ctn {
    position: fixed;
    display: absolute;
    top: 0;
    left: 0;
    width: 60px;
}

.lng-btn {
    margin: 15px 15px 0px;
    width: 30px;
    height: 30px;
}

.on-the-right {
    margin-left: 80px;
}

strong {
    color: #cc3333;
    font-weight: 500;
}

.absolute{
    position: fixed;
    display: absolute;
    background-color: #f2f1ed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.cover {
    background-position: center;
    background-size: cover;
    display: table;
    height: 100%;
    min-height: 100%;
    width: 100%;
    
}

.jumbotron {
    background-color: #ffffff;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, .3);
    -wbekit-box-shadow: 0px 0px 12px rgba(0, 0, 0, .3);
    -o-box-shadow: 0px 0px 12px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, .3);
    margin: 30px 0px 0px 0px;
}

.half-move-to-left {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-5%);
    transform: translateX(-50%);
    -webkit-transition: transform 1s ease-in-out;
    -moz-transition: transform 1s ease-in-out;
    -ms-transition: transform 1s ease-in-out;
    -o-transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
}

.full-move-to-left {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: transform 1s ease-in-out;
    -moz-transition: transform 1s ease-in-out;
    -ms-transition: transform 1s ease-in-out;
    -o-transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
}

.cover-inner {
    display: table-cell;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.flag-container {
    text-align: center;
    display: flex;
}

.flag-container-inner {
    display: inline-flex;
    min-height: 120px;
    margin-left: auto;
    margin-right: auto;
}

.flag{
    padding: 20px;
    text-align: center;
}

.flag img {
    width: 80px;
    
}

.round-img {
    border-radius: 50%;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .3);
    -wbekit-box-shadow: 0px 0px 2px rgba(0, 0, 0, .3);
    -o-box-shadow: 0px 0px 2px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, .3);
    transition: all .2s;
    -webkit-transition: all .2s;
}

.round-img:hover,
.round-img:focus {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, .3);
    -wbekit-box-shadow: 0px 4px 12px rgba(0, 0, 0, .3);
    -o-box-shadow: 0px 4px 12px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0px 4px 12px rgba(0, 0, 0, .3);
    transform: translateY(-3px);
}

.round-img:active {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .3);
    -wbekit-box-shadow: 0px 3px 6px rgba(0, 0, 0, .3);
    -o-box-shadow: 0px 3px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, .3);
    transform: translateY(-2px);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .countdown {
    padding: 50px;
    text-align: center;
  }
  .countdown span {
    color: #cc3333;
  }
  
  .countdown li {
      vertical-align: middle;
    
  }

  h1 {
    font-weight: normal;
  }
  
  li {
    display: inline-block;
    list-style-type: none;
    text-transform: uppercase;
  }
  
  li span {
    display: block;
    font-size: 3em;
    padding: 30px;
    min-width: 150px;
  }